swagger: '2.0'
schemes:
  - https
basePath: /v2
host: api.nexmo.com
info:
  version: '2.0'
  title: Nexmo API
  description: "Open API Specification of Nexmo's Communication APIs"
paths:
  '/accounts/{account_id}':
    get:
      consumes:
        - application/json
      description: "Provide access to:\r\n- API Keys / Global Callbacks\r\n- Default HTTP Method\r\n- Throttling / Features / Etc\r\n- (future) Currency Preference"
      operationId: GET_account
      responses:
        default:
          description: ''
      summary: Get Account Settings
      tags:
        - Account
    put:
      consumes:
        - application/json
      description: ''
      operationId: PUT_account
      responses:
        default:
          description: ''
      summary: Update Account
      tags:
        - Account
  '/accounts/{account_id}/alerts':
    get:
      consumes:
        - application/json
      description: Create an alert to a phone / email / url based on alert criteria.
      operationId: get_alerts
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            allOf:
              - properties:
                  _embedded:
                    properties:
                      alerts:
                        items: {}
                        type: array
                    type: object
                type: object
              - $ref: '#/definitions/hal'
      summary: Search / List Account Alerts
      tags:
        - Alerts
    post:
      consumes:
        - application/json
      description: Create an alert to a phone / email / url based on alert criteria.
      operationId: create_alert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/alert-endpoint'
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/alert-endpoint'
      summary: Create Account Alert
      tags:
        - Alerts
  '/accounts/{account_id}/alerts/{id}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: get_alert
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/alert-endpoint'
      summary: Get Account Alert
      tags:
        - Alerts
    parameters:
      - in: path
        name: id
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: ''
      operationId: update_alert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/alert-endpoint'
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/alert-endpoint'
      summary: Update Account Alert
      tags:
        - Alerts
  '/accounts/{account_id}/autoreload':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_payment
      parameters:
        - description: 'Filter by Payment Method ID '
          in: query
          name: method
          type: string
      responses:
        default:
          description: ''
      summary: Get Payment Configuration
      tags:
        - Payment
    put:
      consumes:
        - application/json
      description: ''
      operationId: PUT_payment
      parameters:
        - in: body
          name: body
          schema:
            properties:
              amount:
                description: Amount t AutoPay
                type: integer
              auto:
                description: Enable / Disable Auto Payments
                type: boolean
              method:
                description: Payment Method ID
                type: string
              threshold:
                description: Balance Threshold to Reload
                type: integer
            required:
              - auto
            type: object
      responses:
        default:
          description: ''
      summary: Get Payment Configuration
      tags:
        - Payment
  '/accounts/{account_id}/balance':
    get:
      consumes:
        - application/json
      description: ''
      operationId: get-balance
      parameters:
        - default: EUR
          enum:
            - EUR
            - USD
          in: query
          name: currency
          type: string
      responses:
        default:
          description: ''
      summary: Get Balance
      tags:
        - Account
  '/accounts/{account_id}/instruments':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_payment-methods
      responses:
        default:
          description: ''
      summary: Search / List Payment Methods
      tags:
        - Payment
  '/accounts/{account_id}/instruments/{id}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_payment-methods-id
      responses:
        default:
          description: ''
      summary: Get Payment Method Details
      tags:
        - Payment
    parameters:
      - in: path
        name: id
        required: true
        type: string
  '/accounts/{account_id}/secondaries':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_account-secondaries
      responses:
        default:
          description: ''
      summary: List Secondary Accounts
      tags:
        - Account
  '/accounts/{account_id}/transactions':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_payment-transactions
      parameters:
        - description: 'Filter by Payment Method ID '
          in: query
          name: method
          type: string
      responses:
        default:
          description: ''
      summary: Search / List Past Payments
      tags:
        - Payment
  '/accounts/{account_id}/transactions/':
    post:
      consumes:
        - application/json
      description: ''
      operationId: POST_payment-transactions
      responses:
        default:
          description: ''
      summary: Make Payment
      tags:
        - Payment
  '/accounts/{account_id}/transactions/{id}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_payment-transactions-id
      responses:
        default:
          description: ''
      summary: Get Payment Details
      tags:
        - Payment
    parameters:
      - in: path
        name: id
        required: true
        type: string
  '/accounts/{account_id}/users':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_users
      responses:
        default:
          description: ''
      summary: Search / List Users
      tags:
        - Users
    post:
      consumes:
        - application/json
      description: ''
      operationId: POST_users
      responses:
        default:
          description: ''
      summary: Create User
      tags:
        - Users
  '/accounts/{account_id}/users/{id}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_users-id
      responses:
        default:
          description: ''
      summary: Get User Details
      tags:
        - Users
    parameters:
      - in: path
        name: id
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: ''
      operationId: PUT_users-id
      responses:
        default:
          description: ''
      summary: Update User Details
      tags:
        - Users
  /available_numbers:
    get:
      description: Search Available Numbers
      operationId: GET_numbers-available
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search Available Numbers
      tags:
        - Numbers
        - Npa
  /insights:
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_insights
      responses:
        default:
          description: ''
      summary: Search / List Insight Requests
      tags:
        - Insight
    post:
      consumes:
        - application/json
      description: ''
      operationId: POST_insights
      responses:
        default:
          description: ''
      summary: Start Insight Request
      tags:
        - Insight
  '/insights/{insight_uuid}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_insights-insight_uuid
      responses:
        default:
          description: ''
      summary: Get Insight Status / Information
      tags:
        - Insight
    parameters:
      - in: path
        name: insight_uuid
        required: true
        type: string
  /message_templates:
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_sms-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search / List SMS Templates
      tags:
        - Account
        - Sms
    post:
      consumes:
        - application/json
      description: ''
      operationId: POST_sms-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Create SMS Template
      tags:
        - Account
        - Sms
  '/message_templates/{template_id}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_sms-templates-template_id
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Get SMS Template
      tags:
        - Account
        - Sms
    parameters:
      - in: path
        name: template_id
        required: true
        type: string
  /numbers:
    get:
      description: List Numbers
      operationId: GET_numbers
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search / List Numbers
      tags:
        - Numbers
        - Npa
    post:
      consumes:
        - application/json
      description: Purchase Number
      operationId: POST_numbers
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Purchase Number
      tags:
        - Numbers
        - Npa
  '/numbers/{number_uuid}':
    delete:
      consumes:
        - application/json
      description: Release Number
      operationId: DELETE_numbers-number_uuid
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Release Number
      tags:
        - Numbers
        - Npa
    parameters:
      - in: path
        name: number_uuid
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: |-
        Update Number Settings
        - Set Webhooks
        - Assign to Pool
      operationId: PUT_numbers-number_uuid
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Update Number Settings
      tags:
        - Numbers
        - Npa
  /pools:
    get:
      description: ''
      operationId: GET_npa-pools
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search / List Pools
      tags:
        - Numbers
        - Npa
  '/pools/{pool_id}':
    get:
      description: ''
      operationId: GET_npa-pools-pool_id
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Get Pool Details
      tags:
        - Numbers
        - Npa
    parameters:
      - in: path
        name: pool_id
        required: true
        type: string
    put:
      description: Point to application.
      operationId: PUT_npa-pools-pool_id
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Update Pool
      tags:
        - Numbers
        - Npa
  '/pools/{pool_id}/numbers':
    get:
      description: List Numbers
      operationId: GET_npa-pools-pool_id-numbers
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search / List Pool Numbers
      tags:
        - Numbers
        - Npa
    parameters:
      - in: path
        name: pool_id
        required: true
        type: string
  /pricing/message:
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_pricing-message
      responses:
        default:
          description: ''
      summary: Search Message Pricing
      tags:
        - Pricing
  '/pricing/voice/{country}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_pricing-voice-country
      responses:
        default:
          description: ''
      summary: Search Voice Pricing
      tags:
        - Pricing
    parameters:
      - description: Country Code or Phone Number
        in: path
        name: country
        required: true
        type: string
  /reports:
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_reports
      responses:
        default:
          description: ''
      summary: Search / List Reports
      tags:
        - Reports
    post:
      consumes:
        - application/json
      description: ''
      operationId: POST_reports
      responses:
        default:
          description: ''
      summary: Create Report
      tags:
        - Reports
  /reports/report_id/:
    delete:
      consumes:
        - application/json
      description: ''
      operationId: DELETE_reports-report_id
      responses:
        default:
          description: ''
      summary: Remove Report
      tags:
        - Reports
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_reports-report_id
      responses:
        default:
          description: ''
      summary: Get Report Details
      tags:
        - Reports
  /verification_templates:
    get:
      consumes:
        - application/json
      description: 'Get active template, etc.'
      operationId: GET_verify-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search / List Verify Templates
      tags:
        - Account
        - Verify
    post:
      consumes:
        - application/json
      description: ''
      operationId: POST_verify-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Create Verify Template
      tags:
        - Account
        - Verify
    put:
      consumes:
        - application/json
      description: ''
      operationId: PUT_verify-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Set Active Verify Template
      tags:
        - Account
        - Verify
  '/verification_templates/{template_id}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_verify-templates-template_id
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Get Verify Template
      tags:
        - Account
        - Verify
    parameters:
      - in: path
        name: template_id
        required: true
        type: string

definitions:
  account-user:
    properties: {}
    type: object
  alert-endpoint:
    properties:
      endpoint:
        type: string
      type:
        enum:
          - email
          - webhook
          - phone
        type: string
    required:
      - type
      - endpoint
    type: object
  common:
    properties:
      description:
        description: Human readable message
        type: string
      request_id:
        description: The unique ID of the API request
        type: string
      status_code:
        description: Unique Nexmo status code
        type: string
      timestamp:
        description: Timestamp of resource creation UTC
        type: string
    type: object
  error:
    example:
      detail: The request cost exceeds your current ballance.
      instance: 'https://api.nexmo.com/calls/63f61863-4a51-4f6b-86e1-46edebcf9356'
      status: '403'
      title: Out Of Credit
      type: 'https://docs.nexmo.com/Error#out-of-credit'
    properties:
      detail:
        type: string
      instance:
        type: string
      status:
        type: string
      title:
        type: string
      type:
        type: string
    type: object
  hal:
    properties:
      _links:
        properties:
          first:
            properties:
              href:
                type: string
            type: object
          last:
            properties:
              href:
                type: string
            type: object
          next:
            properties:
              href:
                type: string
            type: object
          prev:
            properties:
              href:
                type: string
            type: object
          self:
            properties:
              href:
                type: string
            type: object
        type: object
      count:
        type: string
      page_offset:
        type: string
      page_size:
        type: string
    type: object
securityDefinitions:
  api_key:
    name: api_key
    type: apiKey
    in: query
  api_secret:
    name: api_secret
    type: apiKey
    in: query