swagger: '2.0'
schemes:
  - https
basePath: /v2
host: api.nexmo.com
info:
  version: '2.0'
  title: Nexmo API
  description: "Open API Specification of Nexmo's Communication APIs"
paths:
  /available_numbers:
    get:
      description: Search Available Numbers
      operationId: GET_numbers-available
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search Available Numbers
      tags:
        - Numbers
        - Npa
  /insights:
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_insights
      responses:
        default:
          description: ''
      summary: Search / List Insight Requests
      tags:
        - Insight
    post:
      consumes:
        - application/json
      description: ''
      operationId: POST_insights
      responses:
        default:
          description: ''
      summary: Start Insight Request
      tags:
        - Insight
  '/insights/{insight_uuid}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_insights-insight_uuid
      responses:
        default:
          description: ''
      summary: Get Insight Status / Information
      tags:
        - Insight
    parameters:
      - in: path
        name: insight_uuid
        required: true
        type: string
  /message_templates:
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_sms-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search / List SMS Templates
      tags:
        - Account
        - Sms
    post:
      consumes:
        - application/json
      description: ''
      operationId: POST_sms-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Create SMS Template
      tags:
        - Account
        - Sms
  '/message_templates/{template_id}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_sms-templates-template_id
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Get SMS Template
      tags:
        - Account
        - Sms
    parameters:
      - in: path
        name: template_id
        required: true
        type: string
  /pools:
    get:
      description: ''
      operationId: GET_npa-pools
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search / List Pools
      tags:
        - Numbers
        - Npa
  '/pools/{pool_id}':
    get:
      description: ''
      operationId: GET_npa-pools-pool_id
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Get Pool Details
      tags:
        - Numbers
        - Npa
    parameters:
      - in: path
        name: pool_id
        required: true
        type: string
    put:
      description: Point to application.
      operationId: PUT_npa-pools-pool_id
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Update Pool
      tags:
        - Numbers
        - Npa
  '/pools/{pool_id}/numbers':
    get:
      description: List Numbers
      operationId: GET_npa-pools-pool_id-numbers
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search / List Pool Numbers
      tags:
        - Numbers
        - Npa
    parameters:
      - in: path
        name: pool_id
        required: true
        type: string
  /pricing/message:
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_pricing-message
      responses:
        default:
          description: ''
      summary: Search Message Pricing
      tags:
        - Pricing
  '/pricing/voice/{country}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_pricing-voice-country
      responses:
        default:
          description: ''
      summary: Search Voice Pricing
      tags:
        - Pricing
    parameters:
      - description: Country Code or Phone Number
        in: path
        name: country
        required: true
        type: string
  /reports:
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_reports
      responses:
        default:
          description: ''
      summary: Search / List Reports
      tags:
        - Reports
    post:
      consumes:
        - application/json
      description: ''
      operationId: POST_reports
      responses:
        default:
          description: ''
      summary: Create Report
      tags:
        - Reports
  /reports/report_id/:
    delete:
      consumes:
        - application/json
      description: ''
      operationId: DELETE_reports-report_id
      responses:
        default:
          description: ''
      summary: Remove Report
      tags:
        - Reports
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_reports-report_id
      responses:
        default:
          description: ''
      summary: Get Report Details
      tags:
        - Reports
  /verification_templates:
    get:
      consumes:
        - application/json
      description: 'Get active template, etc.'
      operationId: GET_verify-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search / List Verify Templates
      tags:
        - Account
        - Verify
    post:
      consumes:
        - application/json
      description: ''
      operationId: POST_verify-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Create Verify Template
      tags:
        - Account
        - Verify
    put:
      consumes:
        - application/json
      description: ''
      operationId: PUT_verify-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Set Active Verify Template
      tags:
        - Account
        - Verify
  '/verification_templates/{template_id}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_verify-templates-template_id
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Get Verify Template
      tags:
        - Account
        - Verify
    parameters:
      - in: path
        name: template_id
        required: true
        type: string

definitions:
  account-user:
    properties: {}
    type: object
  common:
    properties:
      description:
        description: Human readable message
        type: string
      request_id:
        description: The unique ID of the API request
        type: string
      status_code:
        description: Unique Nexmo status code
        type: string
      timestamp:
        description: Timestamp of resource creation UTC
        type: string
    type: object
  error:
    example:
      detail: The request cost exceeds your current ballance.
      instance: 'https://api.nexmo.com/calls/63f61863-4a51-4f6b-86e1-46edebcf9356'
      status: '403'
      title: Out Of Credit
      type: 'https://docs.nexmo.com/Error#out-of-credit'
    properties:
      detail:
        type: string
      instance:
        type: string
      status:
        type: string
      title:
        type: string
      type:
        type: string
    type: object
  hal:
    properties:
      _links:
        properties:
          first:
            properties:
              href:
                type: string
            type: object
          last:
            properties:
              href:
                type: string
            type: object
          next:
            properties:
              href:
                type: string
            type: object
          prev:
            properties:
              href:
                type: string
            type: object
          self:
            properties:
              href:
                type: string
            type: object
        type: object
      count:
        type: string
      page_offset:
        type: string
      page_size:
        type: string
    type: object
securityDefinitions:
  api_key:
    name: api_key
    type: apiKey
    in: query
  api_secret:
    name: api_secret
    type: apiKey
    in: query