swagger: '2.0'
schemes:
  - https
basePath: /v1
host: api.nexmo.com
info:
  version: '1'
  title: Nexmo API
  description: "Open API Specification of Nexmo's Communication APIs"
paths:

  # Accounts
  '/accounts/{account_id}':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}'
  '/accounts/{account_id}/alerts':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}~1alerts'
  '/accounts/{account_id}/alerts/{id}':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}~1alerts~1{id}'
  '/accounts/{account_id}/autoreload':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}~1autoreload'
  '/accounts/{account_id}/balance':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}~1balance'
  '/accounts/{account_id}/instruments':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}~1instruments'
  '/accounts/{account_id}/instruments/{id}':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}~1instruments~1{id}'
  '/accounts/{account_id}/secondaries':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}~1secondaries'
  '/accounts/{account_id}/transactions':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}~1transactions'
  '/accounts/{account_id}/transactions/':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}~1transactions~1'
  '/accounts/{account_id}/transactions/{id}':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}~1transactions~1{id}'
  '/accounts/{account_id}/users':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}~1users'
  '/accounts/{account_id}/users/{id}':
    $ref: 'accounts/api-spec.yaml#/paths/~1accounts~1{account_id}~1users~1{id}'

  # Applications
  '/applications':
    $ref: 'applications/api-spec.yaml#/paths/~1applications'
  '/applications/{app_uuid}':
    $ref: 'applications/api-spec.yaml#/paths/~1applications~1{app_uuid}'
  '/applications/{app_uuid}/keys':
    $ref: 'applications/api-spec.yaml#/paths/~1applications~1{app_uuid}~1keys'
  '/applications/{app_uuid}/keys/{key_id}':
    $ref: 'applications/api-spec.yaml#/paths/~1applications~1{app_uuid}~1keys~1{key_id}'

  # Calls
  '/calls':
    $ref: 'calls/api-spec.yaml#/paths/~1calls'
  '/calls/recordings':
    $ref: 'calls/api-spec.yaml#/paths/~1calls~1recordings'
  '/calls/recordings/{recording_uuid}':
    $ref: 'calls/api-spec.yaml#/paths/~1calls~1recordings~1{recording_uuid}'
  '/calls/{call_uuid}':
    $ref: 'calls/api-spec.yaml#/paths/~1calls~1{call_uuid}'
  '/calls/{call_uuid}/dtmf':
    $ref: 'calls/api-spec.yaml#/paths/~1calls~1{call_uuid}~1dtmf'
  '/calls/{call_uuid}/recordings':
    $ref: 'calls/api-spec.yaml#/paths/~1calls~1{call_uuid}~1recordings'
  '/calls/{call_uuid}/stream':
    $ref: 'calls/api-spec.yaml#/paths/~1calls~1{call_uuid}~1stream'
  '/calls/{call_uuid}/talk':
    $ref: 'calls/api-spec.yaml#/paths/~1calls~1{call_uuid}~1talk'

  # Conversations
  '/conferences':
    $ref: 'conversations/api-spec.yaml#/paths/~1conferences'
  '/conferences/{conference_uuid}':
    $ref: 'conversations/api-spec.yaml#/paths/~1conferences~1{conference_uuid}'
  '/conferences/{conference_uuid}/participants':
    $ref: 'conversations/api-spec.yaml#/paths/~1conferences~1{conference_uuid}~1participants'
  '/conferences/{conference_uuid}/participants/{participant_id}':
    $ref: 'conversations/api-spec.yaml#/paths/~1conferences~1{conference_uuid}~1participants~1{participant_id}'
  '/conferences/{conference_uuid}/participants/{participant_id}/controls':
    $ref: 'conversations/api-spec.yaml#/paths/~1conferences~1{conference_uuid}~1participants~1{participant_id}~1controls'
  '/conferences/{conference_uuid}/participants/{participant_id}/stream':
    $ref: 'conversations/api-spec.yaml#/paths/~1conferences~1{conference_uuid}~1participants~1{participant_id}~1stream'
  '/conferences/{conference_uuid}/participants/{participant_id}/talk':
    $ref: 'conversations/api-spec.yaml#/paths/~1conferences~1{conference_uuid}~1participants~1{participant_id}~1talk'
  '/conferences/{conference_uuid}/recordings':
    $ref: 'conversations/api-spec.yaml#/paths/~1conferences~1{conference_uuid}~1recordings'
  '/conferences/{conference_uuid}/stream':
    $ref: 'conversations/api-spec.yaml#/paths/~1conferences~1{conference_uuid}~1stream'
  '/conferences/{conference_uuid}/talk':
    $ref: 'conversations/api-spec.yaml#/paths/~1conferences~1{conference_uuid}~1talk'
  '/conferences/{conference_uuid}/whisper':
    $ref: 'conversations/api-spec.yaml#/paths/~1conferences~1{conference_uuid}~1whisper'

  # Insights
  '/insights':
    $ref: 'insights/api-spec.yaml#/paths/~1insights'
  '/insights/{insight_uuid}':
    $ref: 'insights/api-spec.yaml#/paths/~1insights~1{insight_uuid}'

  # Messages
  '/messages':
    $ref: 'messages/api-spec.yaml#/paths/~1messages'
  '/messages/2fa':
    $ref: 'messages/api-spec.yaml#/paths/~1messages~12fa'
  '/messages/alert':
    $ref: 'messages/api-spec.yaml#/paths/~1messages~1alert'
  '/messages/{message_uuid}':
    $ref: 'messages/api-spec.yaml#/paths/~1messages~1{message_uuid}'
  '/messages/{message_uuid}/conversion':
    $ref: 'messages/api-spec.yaml#/paths/~1messages~1{message_uuid}~1conversion'

  # Numbers
  '/numbers':
    $ref: 'numbers/api-spec.yaml#/paths/~1numbers'
  '/numbers/{number_uuid}':
    $ref: 'numbers/api-spec.yaml#/paths/~1numbers~1{number_uuid}'

  # Pools
  '/pools':
    $ref: 'pools/api-spec.yaml#/paths/~1pools'
  '/pools/{pool_id}':
    $ref: 'pools/api-spec.yaml#/paths/~1pools~1{pool_id}'
  '/pools/{pool_id}/numbers':
    $ref: 'pools/api-spec.yaml#/paths/~1pools~1{pool_id}~1numbers'

  # Reports
  '/reports':
    $ref: 'reports/api-spec.yaml#/paths/~1reports'
  '/reports/report_id/':
    $ref: 'reports/api-spec.yaml#/paths/~1reports~1report_id~1'

  # Users
  '/users':
    $ref: 'users/api-spec.yaml#/paths/~1users'
  '/users/{user_id}':
    $ref: 'users/api-spec.yaml#/paths/~1users~1{user_id}'

  # Verifications
  '/verifications':
    $ref: 'verifications/api-spec.yaml#/paths/~1verifications'
  '/verifications/{verification_uuid}':
    $ref: 'verifications/api-spec.yaml#/paths/~1verifications~1{verification_uuid}'
  '/verifications/{verification_uuid}/checks':
    $ref: 'verifications/api-spec.yaml#/paths/~1verifications~1{verification_uuid}~1checks'

  # Operations with uncertain paths.
  /available_numbers:
    get:
      description: Search Available Numbers
      operationId: GET_numbers-available
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search Available Numbers
      tags:
        - Numbers
  /message_templates:
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_sms-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search / List SMS Templates
      tags:
        - Account
        - Sms
    post:
      consumes:
        - application/json
      description: ''
      operationId: POST_sms-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Create SMS Template
      tags:
        - Account
        - Sms
  '/message_templates/{template_id}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_sms-templates-template_id
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Get SMS Template
      tags:
        - Account
        - Sms
    parameters:
      - in: path
        name: template_id
        required: true
        type: string
  /pricing/message:
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_pricing-message
      responses:
        default:
          description: ''
      summary: Search Message Pricing
      tags:
        - Pricing
  '/pricing/voice/{country}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_pricing-voice-country
      responses:
        default:
          description: ''
      summary: Search Voice Pricing
      tags:
        - Pricing
    parameters:
      - description: Country Code or Phone Number
        in: path
        name: country
        required: true
        type: string
  /verification_templates:
    get:
      consumes:
        - application/json
      description: 'Get active template, etc.'
      operationId: GET_verify-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Search / List Verify Templates
      tags:
        - Account
        - Verify
    post:
      consumes:
        - application/json
      description: ''
      operationId: POST_verify-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Create Verify Template
      tags:
        - Account
        - Verify
    put:
      consumes:
        - application/json
      description: ''
      operationId: PUT_verify-templates
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Set Active Verify Template
      tags:
        - Account
        - Verify
  '/verification_templates/{template_id}':
    get:
      consumes:
        - application/json
      description: ''
      operationId: GET_verify-templates-template_id
      produces:
        - application/json
      responses:
        default:
          description: ''
      summary: Get Verify Template
      tags:
        - Account
        - Verify
    parameters:
      - in: path
        name: template_id
        required: true
        type: string

definitions:
  error:
    example:
      detail: The request cost exceeds your current ballance.
      instance: 'https://api.nexmo.com/calls/63f61863-4a51-4f6b-86e1-46edebcf9356'
      status: '403'
      title: Out Of Credit
      type: 'https://docs.nexmo.com/Error#out-of-credit'
    properties:
      detail:
        type: string
      instance:
        type: string
      status:
        type: string
      title:
        type: string
      type:
        type: string
    type: object
securityDefinitions:
  api_key:
    name: api_key
    type: apiKey
    in: query
  api_secret:
    name: api_secret
    type: apiKey
    in: query